<main class="home-container">
    <div class="actions-bar">
        <div class="search-wrapper">
            <XInput [ngModel]="searchQuery()" (ngModelChange)="searchQuery.set($event)"
                placeholder="Buscar Artista..." />
        </div>

        <div class="buttons-group">
            <XButton variant="sort" (clicked)="onSort()">
                <span class="sort-icon material-icons">
                    {{ sortOrder() === 'asc' ? 'north' : 'south' }}
                </span>
                A-Z
            </XButton>

            <XButton (clicked)="onAddArtist()">
                + <span class="hide-mobile">Adicionar </span>Artista
            </XButton>

            <XButton (clicked)="onAddAlbum()">
                + <span class="hide-mobile">Adicionar </span>Álbum
            </XButton>
        </div>
    </div>

    <div class="artists-grid">
        @for (artist of artistFacade.artists(); track artist.id) {
        <div class="artist-item-wrapper" [class.selected]="selectedArtist()?.id === artist.id">
            <ArtistCard [artist]="artist" (clicked)="onArtistClick($event)" (view)="onViewArtist($event)"
                (edit)="onEditArtist($event)"></ArtistCard>

            @if (selectedArtist()?.id === artist.id) {
            <div class="artist-albums-mobile">
                @if (artistFacade.isLoadingAlbums()) {
                <div class="albums-loading">Carregando álbuns...</div>
                }
                <div class="albums-list-mini">
                    @for (album of artistFacade.artistAlbums(); track album.id) {
                    <div class="album-mini-item">
                        <div class="album-info-group">
                            <div class="album-mini-cover">
                                @if (album.coverUrl) {
                                <img [src]="album.coverUrl" [alt]="album.title">
                                } @else {
                                <span class="material-icons">album</span>
                                }
                            </div>
                            <span class="album-title">{{ album.title }}</span>
                        </div>
                        <span class="album-date">{{ album.releasedAt | date:'yyyy' }}</span>
                    </div>
                    } @empty {
                    @if (!artistFacade.isLoadingAlbums()) {
                    <p class="no-albums">Nenhum álbum encontrado.</p>
                    }
                    }
                </div>
            </div>
            }
        </div>
        }
    </div>

    <XPagination [currentPage]="currentPage()" [pageSize]="pageSize()" [totalPages]="artistFacade.totalPages()"
        [totalElements]="artistFacade.totalElements()" (pageChange)="onPageChange($event)"
        (pageSizeChange)="pageSize.set($event)">
    </XPagination>
</main>