<div class="login-container">
  <div class="login-card">
    <div class="logo-container">
      <div class="logo-circle">
        <span class="music-icon">♫</span>
      </div>
    </div>

    <h1 class="title">Gerenciador Musical</h1>
    <p class="subtitle">Welcome back</p>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
      @if (errorMessage()) {
      <div class="error-message">
        {{ errorMessage() }}
      </div>
      }

      <XInput label="Usuário" placeholder="admin" formControlName="username" />

      <XInput label="Senha" type="password" placeholder="........" formControlName="password" />


      <XButton type="submit" [disabled]="loginForm.invalid || isLoading()">
        @if (isLoading()) {
        Carregando...
        } @else {
        Sign In
        }
      </XButton>
    </form>
  </div>
</div>